<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>На работу!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		.bg-color {
		background-color: #f5f5f5;
		}
    </style>
</head>
<div class="bg-color">
	<body>
		<div class="container" align="center">
			<div class="row justify-content-center align-items-center" style="height:100vh">
				<div class="col-10">
					<div class="card">
						<div class="card-body">
							<form method="POST" action="/login">
								<div class="form-group">
									<label><h5>Введите ваш электронный адрес:</h5></label>
									<input type="email" class="form-control" name="email" placeholder="E-mail" required>
								</div>
								<button type="submit" name="submit_button" value="submit" id="submit" class="btn btn-success">Отправить</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</div>
</html>